/*---- PRIMARY  FONT POPPINS -----*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
/*---- SECONDARY FONT MONTSERRAT -----*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px; }

:root {
  --principal: black;
  --secundario: red;
  --opcional:white;
  --ventanas:rgba(255, 255, 255, 0.782); }

/*----------------- FONTS -------------------------*/
body {
  min-height: 100vh;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", "Sans Serif", "Comic Sans";
  overflow-x: hidden;
  background-size: cover;
  background: url(../images/Home/fondoContact.jpg) no-repeat center center;
  backdrop-filter: contrast(25%);
  background-color: #1b465a;
  animation: bgcImage 480s infinite forwards;
  animation-delay: 4s; }
  @media screen and (max-width: 1200px) {
    body {
      overflow-y: scroll;
      overflow-x: hidden; } }

@keyframes bgcImage {
  0% {
    background: url(../images/Home/fondoContact.jpg) no-repeat center center; }
  33% {
    background: url(../images/Home/fondoContact.jpg) repeat-x 100px -100px; }
  66% {
    background: url(../images/Home/fondoContact.jpg) repeat-x -50px -50px; } }
.container {
  width: 70%;
  height: 100%;
  position: relative;
  left: 0px;
  display: grid;
  margin: auto;
  grid-template-columns: 50% 50%;
  margin-top: 100px;
  padding-bottom: 50px; }
  @media screen and (max-width: 1200px) {
    .container {
      width: 100%;
      display: flex;
      top: 50px;
      justify-content: center;
      flex-direction: column; } }
  .container::after {
    content: " ";
    background: url(../images/Home/logotipo.png) no-repeat center center;
    background-size: 70%;
    opacity: .7;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
    @media screen and (max-width: 600px) {
      .container::after {
        background-size: 90%;
        left: 0px; } }
  .container .contact_title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; }
    .container .contact_title h1 {
      text-align: center;
      border-radius: 5px;
      font-size: 13rem;
      position: relative;
      top: 0px;
      left: -50px;
      letter-spacing: -2px;
      color: rgba(255, 255, 255, 0.748); }
      @media screen and (max-width: 600px) {
        .container .contact_title h1 {
          font-size: 7rem;
          left: initial;
          margin-bottom: 50px;
          padding: 20px; } }
      @media screen and (min-width: 900px) and (max-width: 1200px) {
        .container .contact_title h1 {
          font-size: 8em; } }
  .container .form_container {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    .container .form_container form {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .container .form_container form input {
        margin: 10px auto;
        width: 100%;
        height: 45px;
        border-radius: .8rem;
        border: none;
        outline: none;
        font-size: 2rem;
        color: black;
        padding-left: 10px;
        background-color: #1b465a;
        backdrop-filter: blur(3px); }
        @media screen and (max-width: 1200px) {
          .container .form_container form input {
            background-color: rgba(184, 179, 179, 0.582); } }
        .container .form_container form input:focus {
          background-color: rgba(255, 255, 255, 0.355);
          color: white; }
          .container .form_container form input:focus::placeholder {
            color: white; }
        .container .form_container form input::placeholder {
          color: white;
          font-weight: lighter;
          padding-left: 10px;
          font-size: 1.8rem;
          font-family: Poppins; }
          @media screen and (max-width: 900px) {
            .container .form_container form input::placeholder {
              color: black; } }
          @media screen and (min-width: 900px) and (max-width: 1200px) {
            .container .form_container form input::placeholder {
              font-size: 2.2rem; } }
      .container .form_container form textarea {
        width: 100%;
        outline: none;
        border: none;
        border-radius: 1rem;
        font-size: 2rem;
        color: #071116;
        resize: none;
        padding-left: 10px;
        padding-top: 5px;
        background-color: #1b465a;
        backdrop-filter: blur(3px); }
        @media screen and (max-width: 1200px) {
          .container .form_container form textarea {
            background-color: rgba(184, 179, 179, 0.582); } }
        .container .form_container form textarea:focus {
          background-color: rgba(255, 255, 255, 0.355);
          backdrop-filter: blur(3px);
          color: white; }
        .container .form_container form textarea::placeholder {
          color: white;
          font-family: Poppins;
          padding-top: 5px;
          padding-left: 10px;
          font-weight: 600;
          font-weight: lighter;
          font-size: 2rem; }
          @media screen and (max-width: 900px) {
            .container .form_container form textarea::placeholder {
              color: black; } }
          @media screen and (min-width: 900px) and (max-width: 1200px) {
            .container .form_container form textarea::placeholder {
              font-size: 2.2rem; } }
      .container .form_container form button {
        font-family: Poppins;
        min-width: 150px;
        outline: none;
        border: none;
        position: relative;
        top: 20px;
        color: white;
        height: 40px;
        font-size: 2rem;
        cursor: pointer;
        background-color: #1b465a;
        backdrop-filter: blur(3px);
        border-radius: 1rem; }
        @media screen and (max-width: 900px) {
          .container .form_container form button {
            color: black; } }
        @media screen and (max-width: 1200px) {
          .container .form_container form button {
            background-color: rgba(184, 179, 179, 0.582); } }
        .container .form_container form button:hover {
          background-color: rgba(255, 255, 255, 0.355);
          color: #071116; }

footer {
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 0px;
  background: #102833;
  background: radial-gradient(circle, #102833 26%, #1b465a 98%);
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  opacity: .5;
  cursor: pointer;
  transition: all 2s; }
  @media (max-width: 1200px) {
    footer {
      margin-top: 0px;
      bottom: 0px;
      min-height: 100vh;
      position: relative;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 100px;
      background: #102833;
      background: linear-gradient(to top, #102833 26%, #1b465a 98%); } }
  footer:hover {
    opacity: 1;
    transition: all .5s; }
  footer .footer_content {
    width: 70%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around; }
    @media (max-width: 1200px) {
      footer .footer_content {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
    footer .footer_content .logo_container {
      width: 100px;
      height: 100px;
      left: 50px;
      top: 0px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      @media (max-width: 1200px) {
        footer .footer_content .logo_container {
          margin: auto;
          width: 100%;
          height: 50vh;
          left: 0px;
          top: 0px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; } }
      footer .footer_content .logo_container img {
        width: 70px;
        position: relative; }
        @media (max-width: 1200px) {
          footer .footer_content .logo_container img {
            margin: auto;
            width: 200px;
            position: relative; } }
    footer .footer_content .redes_container {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column; }
      @media (max-width: 600px) {
        footer .footer_content .redes_container {
          width: 70%; } }
      @media screen and (min-width: 900px) and (max-width: 1200px) {
        footer .footer_content .redes_container {
          width: 100%; } }
      footer .footer_content .redes_container p {
        color: white;
        font-size: 1.3rem;
        letter-spacing: -1px; }
        @media (max-width: 600px) {
          footer .footer_content .redes_container p {
            transform: translateY(30px);
            font-size: 1.5rem; } }
        @media screen and (min-width: 900px) and (max-width: 1200px) {
          footer .footer_content .redes_container p {
            font-size: 3rem;
            position: relative;
            top: 50px; } }
      footer .footer_content .redes_container ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row; }
        footer .footer_content .redes_container ul li {
          position: relative; }
          footer .footer_content .redes_container ul li a {
            color: white; }
            footer .footer_content .redes_container ul li a ion-icon {
              font-size: 3rem; }
              @media (max-width: 600px) {
                footer .footer_content .redes_container ul li a ion-icon {
                  font-size: 3.5rem; } }
              @media screen and (min-width: 900px) and (max-width: 1200px) {
                footer .footer_content .redes_container ul li a ion-icon {
                  font-size: 4em;
                  position: relative;
                  top: 50px; } }

/*# sourceMappingURL=contact_styles.css.map */
