@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
nav {
  width: 60vw;
  height: 45px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  top: 0px;
  left: 20%;
  background: #060d0d;
  background: radial-gradient(circle, #060d0d 27%, #666565 85%);
  position: fixed;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  z-index: 1000; }
  @media screen and (max-width: 600px) {
    nav {
      width: 40vw;
      height: 175px;
      margin: auto;
      left: 30vw;
      position: absolute;
      top: 0px;
      border-bottom-left-radius: 3rem;
      border-bottom-right-radius: 3rem; } }
  nav .nav_logo_container {
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 600px) {
      nav .nav_logo_container {
        position: absolute;
        left: -200px; } }
    nav .nav_logo_container img {
      width: 60px; }
  nav .container_idiomas {
    position: absolute;
    transform: translateX(490px);
    background-color: rgba(255, 255, 255, 0.671);
    color: black;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 45px;
    border-radius: 5px;
    transition: all .9s; }
    nav .container_idiomas h3 {
      font-size: 1.5rem;
      top: 20px;
      position: relative; }
      nav .container_idiomas h3 .lang_icon {
        font-size: 2rem; }
    nav .container_idiomas:hover .select_lang {
      visibility: visible;
      transition: all .9s; }
    nav .container_idiomas .select_lang {
      cursor: pointer;
      width: 100%;
      height: 45px;
      top: 40px;
      font: poppins bold 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      flex-direction: column;
      padding: 1px; }
      nav .container_idiomas .select_lang li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 35px;
        background-color: rgba(255, 255, 255, 0.671); }
        nav .container_idiomas .select_lang li:first-child a {
          background: url(../images/flags/usa.png) no-repeat center center;
          background-size: cover;
          color: transparent; }
        nav .container_idiomas .select_lang li:nth-child(2) a {
          background: url(../images/flags/spain.png) no-repeat center center;
          background-size: cover;
          color: transparent; }
        nav .container_idiomas .select_lang li:nth-child(3) a {
          background: url(../images/flags/brazil.png) no-repeat center center;
          background-size: cover;
          color: transparent; }
        nav .container_idiomas .select_lang li a {
          font-size: 1.7rem;
          color: transparent;
          width: 70%;
          margin-top: 5px;
          height: 40px; }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    position: relative;
    top: 0px;
    left: 0px;
    flex-direction: row; }
    @media screen and (max-width: 600px) {
      nav ul {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  nav .nav_item {
    list-style: none;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 600px) {
      nav .nav_item {
        width: 100%;
        border-radius: 1.5rem;
        height: 30px; } }
    nav .nav_item:hover {
      background-color: var(--opcional);
      background-color: #cecece;
      transition: all .2s; }
    nav .nav_item:hover a span, nav .nav_item:hover a .icon {
      color: black;
      font-weight: bold; }
    nav .nav_item a {
      text-decoration: none;
      color: white;
      letter-spacing: -.5px;
      display: flex;
      align-items: center;
      width: 75%;
      height: 45px;
      justify-content: space-between; }
      nav .nav_item a .icon {
        color: white;
        font-size: 1.8rem; }
        @media screen and (max-width: 600px) {
          nav .nav_item a .icon {
            font-size: 1.5rem; } }
      nav .nav_item a span {
        color: white;
        font-size: 1.8rem; }
        @media screen and (max-width: 600px) {
          nav .nav_item a span {
            font-size: 1.5rem; } }

/*# sourceMappingURL=nav_styles.css.map */
