/*---- PRIMARY  FONT POPPINS -----*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
/*---- SECONDARY FONT MONTSERRAT -----*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px; }

/*----------------- FONTS -------------------------*/
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Poppins;
  background-color: white;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y proximity; }

.header {
  scroll-snap-align: start;
  position: relative;
  width: 100vw;
  background: url(../images/Products/persiana.jpg) no-repeat center center;
  background-size: cover;
  top: 0px;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  z-index: 1; }
  @media screen and (max-width: 600px) {
    .header {
      height: 100vh;
      min-height: initial;
      background-size: cover; } }
  .header::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 2;
    background: url(../images/Home/logotipo.png) no-repeat center 250px;
    background-size: 18%; }
    @media screen and (max-width: 600px) {
      .header::after {
        background-size: 50%;
        margin: auto; } }
  .header h1 {
    transform: translateY(0px);
    font-size: 6rem;
    color: white;
    position: relative;
    top: 100px;
    font-family: "Montserrat", "Sans Serif", "Comic Sans";
    padding: 5px 10px; }
    @media screen and (max-width: 600px) {
      .header h1 {
        position: relative;
        font-size: 4rem;
        top: 0px; } }

.finca_container {
  scroll-snap-align: start;
  min-height: 60vh;
  width: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  background: url(../images/campo.jpg) no-repeat center center fixed;
  background-size: cover; }
  @media screen and (max-width: 600px) {
    .finca_container {
      display: flex;
      min-height: 30vh;
      background-color: rgba(255, 255, 255, 0.603);
      position: relative;
      object-fit: cover;
      background: url(../images/campo.jpg) no-repeat center center;
      background-size: 200%;
      z-index: 1; } }

.white_space {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: #a4c425; }
  .white_space::after {
    position: absolute;
    margin: auto;
    z-index: -1;
    width: 95%;
    height: 60%;
    content: '';
    background: url(../images/Products/frutas/pexels-lumn-1028599.jpg) no-repeat center center;
    background-size: cover; }
  @media (max-width: 600px) {
    .white_space {
      max-height: initial;
      min-height: 10vh; } }
  .white_space .white_space_title {
    font-size: 5rem;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a4c425; }
    @media screen and (max-width: 600px) {
      .white_space .white_space_title {
        font-size: 2rem;
        height: initial;
        height: 100px; } }
  .white_space .text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%; }
    @media screen and (max-width: 600px) {
      .white_space .text_container {
        top: 0px;
        background-size: cover;
        position: relative; } }
    .white_space .text_container .text {
      font-size: 2rem;
      text-align: justify;
      margin: 100px auto;
      display: flex;
      align-items: center;
      position: relative;
      max-width: 70%;
      min-height: 30vh;
      font-weight: bold;
      background-color: rgba(27, 70, 90, 0.566);
      color: white;
      left: -150px;
      padding: 20px;
      opacity: 0;
      transform: translateX(-100vw);
      border-radius: 1rem; }
      @media screen and (max-width: 600px) {
        .white_space .text_container .text {
          font-size: 1.5rem;
          max-width: 90%;
          left: initial; } }
      @media screen and (min-width: 600px) and (max-width: 900px) {
        .white_space .text_container .text {
          margin: auto;
          width: 80%; } }

.products_container {
  scroll-snap-align: start;
  width: 100%;
  min-height: 0vh;
  background-color: white;
  position: relative; }
  .products_container .products_title {
    font-size: 7rem;
    margin: auto;
    font-weight: bold;
    position: relative;
    letter-spacing: -2px;
    font-family: "Montserrat", "Sans Serif", "Comic Sans";
    color: white;
    text-align: center;
    transform: translateX(200vw);
    opacity: 0;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bce027;
    z-index: 1; }
    @media screen and (max-width: 600px) {
      .products_container .products_title {
        font-size: 4rem;
        left: 0px; } }
  .products_container .products {
    width: 80%;
    top: 0px;
    margin: auto;
    position: relative;
    display: grid;
    transform: translateY(-700px);
    opacity: 0;
    grid-template-columns: 33% 33% 33%; }
    @media screen and (max-width: 600px) {
      .products_container .products {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 0px; } }
    .products_container .products .grid_fruit_display {
      position: relative;
      height: 45vh;
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-size: cover;
      overflow: hidden; }
      @media screen and (max-width: 600px) {
        .products_container .products .grid_fruit_display {
          width: 100%;
          justify-content: center;
          max-height: 220px;
          height: unset; } }
      .products_container .products .grid_fruit_display .fruit_card {
        width: 100%;
        min-height: 50vh;
        overflow: hidden;
        transition: all 2s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .products_container .products .grid_fruit_display .fruit_card:hover .fruit_info_container h3 {
          width: 100%;
          display: block;
          padding-bottom: 30px;
          color: #102833;
          position: relative;
          font-weight: bolder;
          opacity: 1; }
        .products_container .products .grid_fruit_display .fruit_card .img_container {
          overflow: hidden;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-height: 200px;
          position: relative; }
          .products_container .products .grid_fruit_display .fruit_card .img_container img {
            width: 60%;
            position: relative;
            margin: auto; }
            @media screen and (max-width: 600px) {
              .products_container .products .grid_fruit_display .fruit_card .img_container img {
                width: 75%; } }
        .products_container .products .grid_fruit_display .fruit_card .fruit_info_container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          transition: all 1s; }
          .products_container .products .grid_fruit_display .fruit_card .fruit_info_container h3 {
            font-size: 3rem;
            display: none;
            color: #102833;
            position: relative;
            top: 20px; }
            @media screen and (max-width: 600px) {
              .products_container .products .grid_fruit_display .fruit_card .fruit_info_container h3 {
                display: flex;
                font-size: 2rem;
                top: -20px; } }

.products_link {
  display: block;
  font-size: 2.3rem;
  position: relative;
  letter-spacing: -1px;
  height: 40px;
  margin-top: 100px;
  text-decoration: none;
  background-color: #bce027;
  width: 250px;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; }
  .products_link:hover {
    background-color: #102833;
    color: white; }
  @media screen and (max-width: 600px) {
    .products_link {
      font-size: 2rem;
      transform: translateY(50px);
      width: 200px; } }

footer {
  width: 100vw;
  height: 100px;
  position: relative;
  top: 20vh;
  background-color: #102833;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  background: #102833;
  background: radial-gradient(circle, #102833 26%, #1b465a 98%); }
  @media (max-width: 600px) {
    footer {
      margin-top: 0px;
      bottom: 0px;
      min-height: 100vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 100px;
      background: #102833;
      background: linear-gradient(to top, #102833 26%, #1b465a 98%); } }
  @media screen and (min-width: 900px) and (max-width: 1200px) {
    footer {
      margin-top: 0px;
      bottom: 0px;
      min-height: 100vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: -20vh;
      background: #102833;
      background: linear-gradient(to top, #102833 26%, #1b465a 98%); } }
  footer .footer_content {
    width: 70%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around; }
    @media (max-width: 600px) {
      footer .footer_content {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
    @media screen and (min-width: 900px) and (max-width: 1200px) {
      footer .footer_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
    footer .footer_content .logo_container {
      background-color: #fffefe;
      width: 100px;
      height: 100px;
      left: 50px;
      top: 0px;
      position: absolute;
      background-color: transparent; }
      @media (max-width: 600px) {
        footer .footer_content .logo_container {
          margin: auto;
          width: 100%;
          height: 50vh;
          left: 0px;
          top: 0px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; } }
      @media screen and (min-width: 900px) and (max-width: 1200px) {
        footer .footer_content .logo_container {
          margin: auto;
          width: 100%;
          left: 0px;
          top: 0px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; } }
      footer .footer_content .logo_container img {
        width: 70px;
        position: absolute;
        top: 30px;
        left: 0px; }
        @media (max-width: 600px) {
          footer .footer_content .logo_container img {
            margin: auto;
            width: 100px;
            position: relative; } }
        @media screen and (min-width: 900px) and (max-width: 1200px) {
          footer .footer_content .logo_container img {
            width: 100px;
            position: relative;
            margin: auto;
            top: 150px; } }
    footer .footer_content .redes_container {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column; }
      @media (max-width: 600px) {
        footer .footer_content .redes_container {
          width: 70%; } }
      @media screen and (min-width: 900px) and (max-width: 1200px) {
        footer .footer_content .redes_container {
          width: 100%; } }
      footer .footer_content .redes_container p {
        color: white;
        font-size: 1.3rem;
        letter-spacing: -1px; }
        @media (max-width: 600px) {
          footer .footer_content .redes_container p {
            transform: translateY(30px);
            font-size: 1.5rem; } }
        @media screen and (min-width: 900px) and (max-width: 1200px) {
          footer .footer_content .redes_container p {
            font-size: 3rem; } }
      footer .footer_content .redes_container ul {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row; }
        footer .footer_content .redes_container ul li {
          position: relative; }
          footer .footer_content .redes_container ul li a {
            color: white; }
            footer .footer_content .redes_container ul li a:hover {
              color: grey; }
            footer .footer_content .redes_container ul li a ion-icon {
              font-size: 3rem; }
              @media (max-width: 600px) {
                footer .footer_content .redes_container ul li a ion-icon {
                  font-size: 3.5rem; } }
              @media screen and (min-width: 900px) and (max-width: 1200px) {
                footer .footer_content .redes_container ul li a ion-icon {
                  font-size: 5em; } }

/*# sourceMappingURL=products_styles.css.map */
