.container_3
{
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: auto;
    top: 300px;
    display: grid;
    grid-template-rows: 20% 80%;

    &::after{
        content: " ";
        background: url(/images/campo.jpg) no-repeat  center center;
        background-size: cover;
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
    .contact_title
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        h1
        {
           
            width: 270px;
            text-align: center;
            font-size: 4.5rem;
            top: 10px;
            position: relative;
            letter-spacing: -2px;
            color: red;
            font-family: var(--fuenteSecundaria);
        }

        h2
        {
            font-size: 2rem;
            position: relative;
            top: 40px;
            color: rgb(80, 78, 78);
            font-family: var(--fuenteSecundaria);
            font-weight: lighter;
        }

        
    }

    .form_container
    {
        width: 100%;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        form
        {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            input
            {
                margin: 10px auto;
                width: 100%;
                height: 45px;
                border-radius: 1rem;
                border: none;
                outline: none;
                font-size: 1.3rem;
                color: black;
                padding-left: 15px;
                background-color: rgba(255, 255, 255, 0.527);
                &:focus
                {
                    background-color: white;
                }

                &::placeholder
                {
                    padding-left: 10px;
                    font-size: 1.7rem;
                    color: black;
                    font-weight: 600;
                    font-family: Poppins;
                }
            }

            textarea
            {
                width: 100%;
                outline: none;
                border: none;
                border-radius: 1rem;
                font-size: 1.3rem;
                color: black;
                padding: 10px 15px;
                resize: none;
                background-color: rgba(255, 255, 255, 0.527);
                &:focus
                {
                    background-color: white;
                }

                &::placeholder
                {
                    padding-left: 10px;
                    font-size: 1.7rem;
                    color: black;
                    font-family: Poppins;
                    font-weight: 600;
                }
            }   

            button
            {   font-family: Poppins;
                width: 30%;
                outline: none;
                border: none;
                position: relative;
                top: 20px;
                height: 40px;
                font-size: 1.7rem;
                cursor: pointer;
                font-weight: bold;
                background-color: rgba(255, 255, 255, 0.527);
                color: black;
                
                border-radius: 1rem;
                &:hover
                {   
                    color: red;
                    transition: .5s;
                }
            }
        }
    }
}
