@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}
:root {
    --principal: black;
    --secundario: red;
    --opcional:white;
    --ventanas:rgba(255, 255, 255, 0.582);    
    --fuentePrincipal:'Poppins', 'Sans Serif';
    --fuenteSecundaria:'Montserrat', 'Sans Serif';
  }
//*------------------MEDIA --------------------------*//
  
    
$small: 600px;
$medium: 900px;
$big:1200px;
$desktop:1824px;


//*------------------MEDIA --------------------------*//
body
{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color:var(--ventanas);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Poppins;
    background-color: white;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

.header
{
    scroll-snap-align: start;
    position: relative;
    width: 100vw;
    background: url(../images/Products/persiana.jpg) no-repeat center center;
    background-size: cover; 
    top: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    &::after{
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: 2;
        background: url(../images/Home/logotipo.png) no-repeat center 250px;
        background-size: 18%;
        @media screen and (max-width: $small) {        
            background-size: 38%;
          }
    }

    h1
    {
        font-size: 7rem;
        color: rgb(50, 126, 50);
        color: white;
        position: relative;
        top: 100px;
        font-family: var(--fuenteSecundaria);
        letter-spacing: -2px;
        @media screen and (max-width: $small) {        
            font-size: 5rem;
          }
    }
   
   
}





.finca_container{
    
    scroll-snap-align: start;
    min-height: 130vh;    
    width: 100%;
    display: grid;
    grid-template-rows: 30% 70%;    
    background: url(../images/Material_Cavaliere/cajas_naranjas.jpeg) no-repeat center center fixed ;
    
    background-size:cover;
    @media screen and (max-width: $small) {        
        display: flex;
        min-height: 100vh;  
        flex-direction: column;
        align-items: center;        
        background-size: cover;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.603);
        position: relative;
        top: 0px;
        padding-bottom: 50px;
      }
    .banner{
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 8rem;
            letter-spacing: -3px;
            font-weight: bolder;
            font-family: var(--fuenteSecundaria);
            color: green;
            color: white;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 30vh;
            margin-top: 0px;
            text-align: center;
            background-color: rgba(135, 235, 144, 0.596);
            @media screen and (max-width: $small) {   
                text-align: center;
                font-size: 4rem;
              }
        }
    }
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            font-size: 2rem;            
            text-align: justify;
            margin: auto;
            display: flex;
            align-items: center;
            position: relative;
            width: 60%;
            min-height:30vh;
            padding: 0px;
            font-family: var(--fuenteSecundaria);
            text-indent: 2cm;
            border-radius: 0rem;
            background-color: rgba(255, 255, 255, 0.841);
            color: black;
            letter-spacing: 0px;
            padding: 20px;
            @media screen and (max-width: $small) {   
                top: 50px;
                margin: auto;
                width: 80%;
                left: 0%;
              }
        }
    }
}

.white_space{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    h1{
        font-size: 4rem;
        @media screen and (max-width: $small) {   
            font-size: 2rem;
          }
    }
}








.products_container
{
    scroll-snap-align: start;
    width: 100%;
    min-height: 100vh; 
    background-color: white;
    position: relative;
    /* background-image: linear-gradient(to right top, #65f971c5, #83f65f, #9cf24c, #b2ee39, #c7e925, #c2e31c, #bcde11, #b7d800, #97d005, #76c812, #51bf1e, #12b528a6); */
    
    .products
    {
        width: 100%;
        top: 0px;
        position: relative;
        height: 250px;
        background-size: cover;
        display: flex;
        background-image: linear-gradient(to right top, #65f971c5, #83f65f, #9cf24c, #b2ee39, #c7e925, #c2e31c, #bcde11, #b7d800, #97d005, #76c812, #51bf1e, #12b528a6);
        h3
        {
            font-size: 7rem;
            margin: auto;
            font-weight: bold;
            position: relative;
            letter-spacing: -2px;
            font-family: var(--fuenteSecundaria);
            color: white;
            @media screen and (max-width: $small) {   
                font-size: 4rem;
                left: 0px;
              }
        }   
    }
    .grid_fruit_display
    {
        
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        @media screen and (max-width: $small) {   
            width: 100%;
          }

        &:nth-child(2) {
        background: url(../images/Products/Fruits/banana.png) no-repeat center center;     
        @media screen and (max-width: $medium) {   
            background-size: 100%;
             
           }
        }
        &:nth-child(3) {
        background: url(../images/Products/Fruits/cebolla.png) no-repeat center center;        
        @media screen and (max-width: $medium) {   
            background-size: 100%;
             
           }
        } 
        &:nth-child(4) {
        background: url(../images/Products/Fruits/garlick.png) no-repeat center center;  
        @media screen and (max-width: $medium) {   
            background-size: 80%;
             
           }   
        }
        &:nth-child(5) {
        background: url(../images/Products/Fruits/carrot1.png) no-repeat center center;   
        @media screen and (max-width: $medium) {   
            background-size: 100%;
             
           }     
        } 
        &:nth-child(6) {
        background: url(../images/Products/Fruits/remolacha.png) no-repeat center center;  
        @media screen and (max-width: $medium) {   
            background-size: 100%;
             
           }          
        }
        &:nth-child(7) {
        background: url(../images/Products/Fruits/papaya.png) no-repeat center center; 
        @media screen and (max-width: $medium) {   
            background-size: 100%;
             
           }       
        } 
        &:nth-child(8) {
        background: url(../images/Products/Fruits/melon.png) no-repeat center center;
        
        @media screen and (max-width: $medium) {   
            background-size: 100%;
             
           }
        }
        &:nth-child(9) {
        background: url(../images/Products/Fruits/watermelon.png) no-repeat center center;
        
        @media screen and (max-width: $medium) {   
            background-size: 100%;
             
           }
        } 
        &:nth-child(10) {
        background: url(../images/Products/Fruits/mango.png) no-repeat  center center;
        
        @media screen and (max-width: $medium) {   
            background-size: 100%;
             
           }
        } 
        &:nth-child(11) {
        background: url(../images/Products/Fruits/anana.png) no-repeat  center center;
        
        @media screen and (max-width: $medium) {   
            background-size: 100%;
             
           }
        } 
        &:nth-child(12) {
        background: url(../images/Products/Fruits/orange.png) no-repeat  center center;
        
        @media screen and (max-width: $medium) {   
            background-size: 100%;
             
           }
        } 
        &:nth-child(13) {
        background: url(../images/Products/Fruits/mandarine.png) no-repeat  center center
        ;
        @media screen and (max-width: $medium) {   
            background-size: 80%;
             
           }
        background-size: 50%;
        } 
        &:nth-child(14) {
        background: url(../images/Products/Fruits/lemon.png) no-repeat  center center;
        
        @media screen and (max-width: $medium) {   
            background-size: 80%;
             
           }
        } 
        &:nth-child(15) {
        background: url(../images/Products/Fruits/pomelo.png) no-repeat  center center;
        
        @media screen and (max-width: $medium) {   
            background-size: 100%;
             
           }
        } 
        &:nth-child(16) {
        background: url(../images/Products/Fruits/repollo.png) no-repeat  center center;
        
        @media screen and (max-width: $medium) {   
            background-size: 80%;
             
           }
        background-size: 50%;
        
        } 
       
        .fruit_card{
            
            width: 100vw;
            min-height: 50vh;
            display: grid;
            grid-template-columns: 50% 50%;
            overflow: hidden;
            transition: all 2s;
            backdrop-filter: blur(35px);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @media screen and (max-width: $medium) {   
                backdrop-filter: blur(0px);
              }
            &:hover{
                backdrop-filter: blur(0px);
                transition: all 1s;
                width: 70vw;
                display: flex;
                justify-content: center;
                flex-direction: row;
                margin-top: 150px;
                margin-bottom: 150px;
                align-items: center;
               
                
            }
            &:hover .fruit_info_container p {
                @media screen and (max-width: $small) {   
                    transform: translateX(50px) translateY(15px);
                    transition: all 1s;
                  }
                @media screen and (max-width: $medium) {   
                    transform: translateX(100px) translateY(50px);
                    transition: all 1s;
                  }
            } 
            .img_container
            {
                
                overflow: hidden;
                width: 100%;
                display: none;
               img
               {
                   width: 50%;
                   position: relative;
                   margin: auto;
                   @media screen and (max-width: $small) {   
                    width: 95%;
                  }
               }
            }
            .fruit_info_container
            {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h3
                {
                    font-size: 3.5rem;
                    @media screen and (max-width: $small) {   
                        font-size:4rem;
                        
                      }
                }
                p
                {
                    font-size: 1.5rem;
                    text-align: justify;
                    width: 50%;
                    background-color: rgba(255, 255, 255, 0.623);
                    border-radius: 1rem;
                    padding: 10px;
                    @media screen and (max-width: $small) {   
                        font-size: 1.2rem;
                        padding: 10px;                      
                        text-align: center;
                        min-width: 200px;
                        padding: 10px;
                      }
                }
            }
            
        }
        }
    
        
    
   
}    

.products_link{
    display: block;
    font-size: 2.3rem;
    position: relative;
    letter-spacing: -1px;
    height: 40px;
    top: 100px;
    text-decoration: none;
    background-color: rgb(100, 100, 163);
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    color: white;
    &:hover{
        background-color: black;
        color: white;
    }
    @media screen and (max-width: $small) {   
        font-size: 2rem;
        width: 200px;
      }
}

footer
{
    width: 100vw;
    height: 100px;
    position: relative;
    top: 50vh;
    background: #060d0d;
    background: radial-gradient(circle, #060d0d 27%, #666565 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    @media (max-width: $small) {
        margin-top: 0px;
        bottom: 0px;
        min-height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 200px;
        background: #060d0d;
        background: linear-gradient(to top, #060d0d 27%, #74727294 85%);
    }
    @media screen and (min-width: $medium) and (max-width: $big) {
                
        margin-top: 0px;
        bottom: 0px;
        min-height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: -20vh;
        background: #060d0d;
        background: linear-gradient(to top, #060d0d 27%, #74727294 85%);
      }
        
    .footer_content{
        width:70%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        @media (max-width: $small) {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        @media screen and (min-width: $medium) and (max-width: $big) {
                
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        .logo_container{
            background-color: rgb(255, 254, 254);
            width: 100px;
            height: 100px;
            left: 50px;
            top: 0px;
            position: absolute;
            background-color: transparent;
            @media (max-width: $small) {
                margin: auto;
                width: 100%;
                height: 50vh;
                left: 0px;
                top: 0px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            @media screen and (min-width: $medium) and (max-width: $big) {
                margin: auto;
                width: 100%;
                left: 0px;
                top: 0px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
              }
            img{
                width: 90px;
                position: absolute;
                top: 30px;
                left: 0px;
                @media (max-width: $small) {
                    margin: auto;
                    width: 200px;
                    position: relative;
                }
                @media screen and (min-width: $medium) and (max-width: $big) {
                    width: 300px;
                    position: relative;
                    margin: auto;
                    top: 150px;
                  }
            }
        }
        .redes_container
        {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            @media (max-width: $small) {
                width: 70%;
            }
            @media screen and (min-width: $medium) and (max-width: $big) {
                width: 100%;
              }
            p{
                color: white;
                font-size: 1.3rem;
                letter-spacing: -1px;
                @media (max-width: $small) {
                   transform: translateY(30px);
                   font-size: 1.5rem;
                   
                }
                @media screen and (min-width: $medium) and (max-width: $big) {
                   font-size: 3rem;
                  }
            }
            ul
            {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
    
                li
                {
                    position: relative;
    
                    a
                    {
                        color: white;
                        
                        ion-icon{
                            font-size: 3rem;
                            @media (max-width: $small) {
                                font-size: 3.5rem;
                            }
                            @media screen and (min-width: $medium) and (max-width: $big) {
                                font-size: 5em;
                               }
                        }
                    }
                }
            }
        }
    }
    
}