@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}
:root {
    --principal: black;
    --secundario: red;
    --opcional:white;
    --ventanas:rgba(255, 255, 255, 0.582);    
    --fuentePrincipal:'Poppins', 'Sans Serif';
    --fuenteSecundaria:'Montserrat', 'Sans Serif';
  }
//*------------------MEDIA --------------------------*//
  
$smallest :375px;    
$small: 600px;
$medium: 900px;
$big:1200px;
$desktop:1824px;


$colorPrincipal: #bce027;
$colorPrincipalClaro:#d2f153;
$colorPrincipalOscuro:#a4c425;

$colorSecundarioClaro: rgb(27, 70, 90);
$colorSecundario: rgb(16,40,51);  
$colorSecundarioOscuro: rgb(7, 17, 22);
  


//*------------------MEDIA --------------------------*//
body
{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color:var(--ventanas);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Poppins;
    background-color: white;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
}

.header
{
    scroll-snap-align: start;
    position: relative;
    width: 100vw;
    background: url(../images/Products/persiana.jpg) no-repeat center center;
    background-size: cover; 
    top: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    &::after{
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: 2;
        background: url(../images/Home/logotipo.png) no-repeat center 250px;
        background-size: 18%;
        
        @media screen and (max-width: $small) {        
            background-size: 38%;
          }
    }

    h1
    {
        transform: translateY(0px); 
        font-size: 7rem;
        color: white;
        position: relative;
        top: 100px;
        font-family: var(--fuenteSecundaria);
        letter-spacing: -2px;
        text-align: center;
        @media screen and (max-width: $small) {        
            transform: translateY(-50px);
            font-size: 4rem;
        }
        
    }
   
   
}





.finca_container{
    
    scroll-snap-align: start;
    min-height:50vh;    
    width: 100%;
    display: grid;
    grid-template-rows: 30% 70%;    
    background: url(../images/campo.jpg) no-repeat center center fixed;   
    background-size:cover;
    
    @media screen and (max-width: $small) {        
     
        min-height: 100vh;  
        display: grid;
        grid-template-rows: 30% 70%; 
        background-color: rgba(255, 255, 255, 0.603); 
        position: relative;        
        padding-bottom: 50px;
      }
    .banner{
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        display: none;
        h1{
            font-size: 5rem;
            letter-spacing: -1px;
            font-weight: bolder;
            font-family: var(--fuenteSecundaria);            
            color: white;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 15vh;
            position: relative;
            margin-top: 0px;
            text-align: center;
            background: rgb(99,99,99);
            background: linear-gradient(180deg, rgba(59, 59, 59, 0.582) 28%, rgba(247, 255, 247, 0.334) 100%);
            
            
           
        }
    }
    
}

.white_space{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;    
    background-color: white;
        h1{
            font-size: 4rem;
            color: $colorSecundario;
            text-align: center;
            @media screen and (max-width: $smallest) {   
                font-size: 2rem;
              }
              @media screen and (min-width: $small) and (max-width :$medium) {   
                font-size: 2.5rem;
              }
        }


        .text{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p{
                font-size: 2rem;            
                text-align: justify;
                margin: auto;
                display: flex;
                align-items: center;
                position: relative;
                max-width: 70%;
                min-height:30vh;
                background-color: rgba(255, 255, 255, 0.741);
                color: black;
                padding: 20px;
                @media screen and (max-width: $smallest) {        
                    transform: none;
                    font-size: 1.8rem;
                    
                }
                @media screen and (max-width: $small) {        
                    width: 90%;
                    
                }
                @media screen and (min-width: $small) and (max-width :$medium){   
                    transform: none;
                    margin: auto;
                    width: 80%;
                  }
            }
        }
    }
   









.products_container
{
    scroll-snap-align: start;
    width: 100%;
    min-height: 0vh; 
    background-color: white;
    position: relative;
    .products_title
        {
            font-size: 7rem;
            margin: auto;
            font-weight: bold;
            position: relative;
            letter-spacing: -2px;
            font-family: var(--fuenteSecundaria);
            color: white;
            text-align: center;
            transform: translateX(200vw);
            opacity: 0;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;        
            background-color: $colorPrincipal;
            @media screen and (max-width: $small) {   
                font-size: 4rem;
                left: 0px;
              }
        }   
    .products
    {
        width: 80%;
        top: 0px;
        margin: auto;
        position: relative;
        display: grid;
        grid-template-columns: 33% 33% 33%;    
        @media screen and (max-width: $small) {   
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .grid_fruit_display
            {
                position: relative;
                height: 45vh;
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                background-size: cover;
                overflow: hidden;
                

                &:nth-child(1) {
                    background: url(../images/Products/Fruits/banana.png) no-repeat center center;     
                    background-size: 60%; 
                        @media screen and (max-width: $medium) {   
                            background-size: 100%;                    
                        }
                }
                &:nth-child(2) {
                    background: url(../images/Products/Fruits/cebolla.png) no-repeat center center;   
                    background-size: 70%;      
                        @media screen and (max-width: $medium) {   
                            background-size: 100%;
                            
                        }
                } 
                &:nth-child(3) {
                    background: url(../images/Products/Fruits/garlick.png) no-repeat center center;  
                    background-size: 55%; 
                        @media screen and (max-width: $medium) {   
                            background-size: 80%;
                            
                        }   
                }
                &:nth-child(4) {
                    background: url(../images/Products/Fruits/carrot1.png) no-repeat center center;   
                    background-size: 55%; 
                        @media screen and (max-width: $medium) {   
                            background-size: 100%;
                            
                        }     
                } 
                &:nth-child(5) {
                    background: url(../images/Products/Fruits/remolacha.png) no-repeat center center;  
                    background-size: 55%; 
                        @media screen and (max-width: $medium) {   
                            background-size: 100%;
                            
                        }          
                }
                &:nth-child(6) {
                    background: url(../images/Products/Fruits/papaya.png) no-repeat center center; 
                    background-size: 55%; 
                        @media screen and (max-width: $medium) {   
                            background-size: 100%;
                            
                        }       
                } 
                &:nth-child(7) {
                    background: url(../images/Products/Fruits/melon.png) no-repeat center center;   
                    background-size: 55%;              
                        @media screen and (max-width: $medium) {   
                            background-size: 100%;
                            
                        }
                }
                &:nth-child(8) {
                    background: url(../images/Products/Fruits/watermelon.png) no-repeat center center;  
                    background-size: 55%;               
                        @media screen and (max-width: $medium) {   
                            background-size: 100%;
                            
                }
                } 
                &:nth-child(9) {
                    background: url(../images/Products/Fruits/mango.png) no-repeat  center center;   
                    background-size: 55%;             
                        @media screen and (max-width: $medium) {   
                            background-size: 100%;                            
                        }
                } 
                &:nth-child(10) {
                    background: url(../images/Products/Fruits/anana.png) no-repeat  center center;   
                    background-size: 55%;              
                        @media screen and (max-width: $medium) {   
                            background-size: 100%;                    
                        }
                } 
                &:nth-child(11) {
                    background: url(../images/Products/Fruits/orange.png) no-repeat  center center;    
                    background-size: 80%;            
                        @media screen and (max-width: $medium) {   
                            background-size: 100%;                    
                        }
                } 
                &:nth-child(12) {
                    background: url(../images/Products/Fruits/mandarine.png) no-repeat  center center;
                    background-size: 55%;
                        @media screen and (max-width: $medium) {   
                            background-size: 80%;                            
                        }
                } 
                &:nth-child(13) {
                    background: url(../images/Products/Fruits/lemon.png) no-repeat  center center; 
                    background-size: 55%;                
                        @media screen and (max-width: $medium) {   
                            background-size: 80%;                    
                        }
                } 
                &:nth-child(14) {
                    background: url(../images/Products/Fruits/pomelo.png) no-repeat  center center;      
                    background-size: 55%;             
                        @media screen and (max-width: $medium) {   
                            background-size: 100%;                    
                        }
                } 
                &:nth-child(15) {
                    background: url(../images/Products/Fruits/repollo.png) no-repeat  center center;
                    width: 100vw;
                        @media screen and (max-width: $medium) {   
                            background-size: 80%;                            
                        }
                    background-size: 20%;                
                } 
       
        .fruit_card{            
            width: 100%;
            min-height: 50vh;
            display: grid;
            grid-template-columns: 50% 50%;
            overflow: hidden;
            transition: all 2s;
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @media screen and (max-width: $medium) {   
                backdrop-filter: blur(0px);
                margin-top: 50px;
              }
            &:hover{
                backdrop-filter: blur(30px);
                transition: all .5s;
                display: flex;
                justify-content: center;
                flex-direction: column;                
                align-items: center;              
                
            }
            &:hover .fruit_info_container p {
                transform: translateX(50px);
                transition: all 1s;
                @media screen and (max-width: $big) {   
                    transform: none;
                    transition: all 1s;
                    
                  }
                  
               
                 
      
            } 
            &:hover .fruit_info_container h3{
                transition: all 1s;
                width: 50%;
                display: flex;
                padding: 10px;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: $colorSecundario;
                border-radius:  0rem 3rem;
                backdrop-filter: blur(30px);
                min-width: 100px;
                transform: translateY(-30px);
            } 
            .img_container
            {
                
                overflow: hidden;
                width: 100%;
                display: none;
               img
               {
                   width: 50%;
                   position: relative;
                   margin: auto;
                   @media screen and (max-width: $small) {   
                    width: 95%;
                  }
               }
            }
            .fruit_info_container
            {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h3
                {
                    margin: auto;
                    position: relative;
                    font-size: 4em;
                    color: $colorSecundarioClaro;
                    transition: all 1s;
                    display: none;
                    @media screen and (max-width: $small) {   
                        font-size:4rem;
                        
                      }
                }
                p
                {
                    font-size: 1.5rem;
                    text-align: center;
                    width: 50%;
                    min-width: 250px;
                    background-color: rgba(95, 197, 95, 0.682);
                    display: none;
                    border-radius: 0rem 3rem;
                    padding: 10px;                    
                    color: white;
                    @media screen and (max-width: $smallest) {   
                       font-size: 1.4rem;
                        width: 70%;
                        max-height: 50%;
                        min-width: 100px;
                      }
                    @media screen and (min-width: $smallest) and (max-width: $medium){   
                        font-size: 1.5rem;
                        padding: 10px;   
                        width: 90%;                   
                        text-align: center;
                        min-width: 150px;
                        padding: 10px;
                      }
                }
            }
            
        }
        }
    
        
    
   
}    
    }
    

.products_link{
    display: block;
    font-size: 2.3rem;
    position: relative;
    letter-spacing: -1px;
    height: 40px;
    margin-top: 10px;
    transform: translateY(200px);
    text-decoration: none;
    background-color: $colorPrincipal;
    width: 250px;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    &:hover{
        background-color: $colorSecundario;
        color: white;
    }
    @media screen and (max-width: $small) {   
        font-size: 2rem;
        transform: translateY(50px);
        width: 200px;
      }
}

footer
{
    width: 100vw;
    height: 100px;
    position: relative;
    top: 50vh;
    background-color: $colorSecundario;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    @media (max-width: $small) {
        margin-top: 0px;
        bottom: 0px;
        min-height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 200px;
        background: #060d0d;
        background: linear-gradient(to top, #060d0d 27%, #74727294 85%);
    }
    @media screen and (min-width: $medium) and (max-width: $big) {
                
        margin-top: 0px;
        bottom: 0px;
        min-height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: -20vh;
        background: #060d0d;
        background: linear-gradient(to top, #060d0d 27%, #74727294 85%);
      }
        
    .footer_content{
        width:70%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        @media (max-width: $small) {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        @media screen and (min-width: $medium) and (max-width: $big) {
                
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        .logo_container{
            background-color: rgb(255, 254, 254);
            width: 100px;
            height: 100px;
            left: 50px;
            top: 0px;
            position: absolute;
            background-color: transparent;
            @media (max-width: $small) {
                margin: auto;
                width: 100%;
                height: 50vh;
                left: 0px;
                top: 0px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            @media screen and (min-width: $medium) and (max-width: $big) {
                margin: auto;
                width: 100%;
                left: 0px;
                top: 0px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
              }
            img{
                width: 90px;
                position: absolute;
                top: 30px;
                left: 0px;
                @media (max-width: $small) {
                    margin: auto;
                    width: 200px;
                    position: relative;
                }
                @media screen and (min-width: $medium) and (max-width: $big) {
                    width: 300px;
                    position: relative;
                    margin: auto;
                    top: 150px;
                  }
            }
        }
        .redes_container
        {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            @media (max-width: $small) {
                width: 70%;
            }
            @media screen and (min-width: $medium) and (max-width: $big) {
                width: 100%;
              }
            p{
                color: white;
                font-size: 1.3rem;
                letter-spacing: -1px;
                @media (max-width: $small) {
                   transform: translateY(30px);
                   font-size: 1.5rem;
                   
                }
                @media screen and (min-width: $medium) and (max-width: $big) {
                   font-size: 3rem;
                  }
            }
            ul
            {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
    
                li
                {
                    position: relative;
    
                    a
                    {
                        color: white;
                        
                        ion-icon{
                            font-size: 3rem;
                            @media (max-width: $small) {
                                font-size: 3.5rem;
                            }
                            @media screen and (min-width: $medium) and (max-width: $big) {
                                font-size: 5em;
                               }
                        }
                    }
                }
            }
        }
    }
    
}