@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
}
:root 
{
    --principal: black;
    --secundario: red;
    --opcional:white;
    --ventanas:rgba(255, 255, 255, 0.782);
    --fuentePrincipal:'Poppins', 'Sans Serif';
    --fuenteSecundaria:'Montserrat', 'Sans Serif';
  }

 
  $colorPrincipal: #bce027;
  $colorPrincipalClaro:#d2f153;
  $colorPrincipalOscuro:#a4c425;

  $colorSecundarioClaro: rgb(27, 70, 90);
  $colorSecundario: rgb(16,40,51);  
  $colorSecundarioOscuro: rgb(7, 17, 22);
    


body
{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--fuentePrincipal);
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-align: start;
}

//*------------------MEDIA --------------------------*//
  
    
    
$smallest:375px;
$small: 600px;
$medium: 900px;
$big:1200px;
$desktop:1824px;


//*------------------MEDIA --------------------------*//

header{
    scroll-snap-align: start;
    width: 100%;
    min-height: 110vh;
    position: relative;
    display: block;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    transition: all 3s;
    color: white;           
    padding-bottom: 50px;
    overflow: hidden;    
    background-color: rgba(84, 82, 204, 0.722);
    
    .header_bgc{
        width: 100%;
        position: absolute;
        margin: auto;
        height: 100%;
        z-index: -1;
        .header_video{
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            margin: auto;
            min-height: 120vh;
            transform: scale(1.3);
            z-index: -2;
            @media screen and (max-width :$small){
                transform: scale(3);
            }
        }
    }
    
    
   
    @media screen and (max-width: $smallest) {
        top: 0px;
        min-height: 100vh;
    }
    @media screen and (min-width: $smallest) and (max-width :$small){
        min-height: 120vh;
        top: 0px;
    } 
    .header_text{
        display: flex;
        justify-content:center;
        align-items: left;
        flex-direction: column;
        position: relative;
        top: 35vh;
        height: 100%;
        @media screen and (max-width: $small) {
            top: 80px;
            padding: 20px;
        }
        h1{
            font-size: 5rem;
            color: $colorSecundario;
            margin-left: 50px;
            @media screen and (max-width: $small) {
                font-size: 3rem;
            }
        }

        h3{
            font-size: 2.5rem;
            margin-left: 50px;            
            color: $colorSecundario;
            width: 70%;
            @media screen and (max-width: $smallest) {
                font-size: 2rem;
                margin-top: 20px;
            }
        }
        p{
            font-size: 2rem;
            color: $colorSecundarioOscuro;
            margin-left: 50px;
            width: 50%;
            color: white;
            @media screen and (max-width: $smallest) {
                font-size: 1.7rem;
                margin-top: 20px;
                color: white;
            }
        }
    }
}


.content{
    scroll-snap-align: start;
    width: 100%;
    position: relative;
    margin-top: -20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color:white; 
    @media screen and (max-width: $smallest) {
        top: 0px;
        margin-top: 0px;
       }
    @media screen and (min-width: $smallest) and (max-width: $medium){
       min-height: 200vh;
      }
    .title_container{
        width: 50%;
        display: flex;
        position: relative;
        top: 0px;
        min-height: 40vh;
        @media screen and (max-width: $small) {
            width: 90%;
            flex-direction: column;
            top: 0px;
            min-height: 10vh;
            text-align: center;
          }
          @media screen and (min-width: $medium) and (max-width: $big) {
        
            width: 100%;
            flex-direction: column;
         }
        
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative; 
            margin: auto;
            
            h1{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 5rem;
                text-align: center;
                font-family: var(--fuenteSecundaria);
                color: $colorSecundario;
                
                

                @media screen and (max-width: $small) {
                    font-size: 4rem;
                    letter-spacing: -1px;
                    text-align: center;
                    margin: auto;
                  }
                  @media screen and (min-width: $medium) and (max-width: $big) {
                   position: relative;
                    transform: translateY(500px);
                    font-size: 5rem;
                  }  
                
            }
        }
    }
    
    
    
    .cards_container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        transition: all 1s;
        @media screen and (max-width: $small) {
           width: 95%;
           top: 10px;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
        }
        @media screen and (min-width: $medium) and (max-width: $big) {
            width: 90%;
        }  
        .card{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            transition: all 1s;
            min-height: 500px;
            max-width: 380px;
            background: rgba(6, 8, 15, 0.705);
            background: linear-gradient(0deg, $colorSecundarioOscuro 28%, $colorSecundarioClaro 100%);
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.425);
            padding: 10px;
            color: white;  
            padding: 20px;
            @media screen and (max-width: $small) {
                width: 90%;
                margin-top: 50px;
                min-height: 100px;
                justify-content: center;
             }      
            &:first-child{
                border-top-left-radius: 15%;
                border-top-right-radius: 0%;
                border-bottom-right-radius: 0%;
                @media screen and (max-width: $small) {                    
                    border-radius: 2rem;
                 } 
                @media screen and (min-width: $medium) and (max-width: $big) {
                    border-top-left-radius: 5%;
                }  
            }
            &:nth-child(3){
                border-top-right-radius: 15%;
                border-top-left-radius: 0%;
                border-bottom-left-radius: 0%;
                @media screen and (max-width: $small) {                    
                    border-radius: 2rem;
                 } 
                @media screen and (min-width: $medium) and (max-width: $big) {
                border-top-right-radius: 5%;
                   }  
            }
            @media screen and (min-width: $medium) and (max-width: $big) {
                min-height: 70vh;
                justify-content: space-around;
            }   




            .service_icon{
                width: 70px;
                height: 70px;
                @media screen and (min-width: $medium) and (max-width: $big) {
                    width: 80px;
                    height: 80px;
                } 
            }
           
            h2{
                font-size: 3rem;
                height: 50px;
                display: block;
                width: 100%;
                text-align: center;
                letter-spacing: 1px;
                color: white;
                text-shadow: 0px 0px 10px white;
                @media screen and (max-width: $small) {
                    font-size: 2rem;
                 }
                 @media screen and (min-width: $medium) and (max-width: $big) {
                    font-size: 4rem;
                } 
                
            }
            
           
            ul{
                width: 80%;
                margin-top: 50px;
                @media screen and (max-width: $small) {                    
                    width: 90%;
                    
                 }
                li{
                    font-size: 1.7rem;
                    text-align: left;
                    @media screen and (max-width: $small) {
                        font-size: 1.5rem
                     }
                     @media screen and (min-width: $medium) and (max-width: $big) {
                        font-size: 2.5rem;
                    } 
                }
            }           
        }      
    }

    a{
        width: 20%;
        min-width: 200px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;        
        text-align: center;
        top: 50px;
        font-size: 1.8rem;
        text-decoration: none;
        font-weight: bold;
        color: $colorSecundario;
        padding: 5px;
        z-index: 99;
        color: white;
        background-color: $colorSecundarioOscuro;
        @media screen and (max-width: $smallest) {
            top: 50px;
            min-width: 200px;
            font-weight: initial;
            background-color: $colorSecundarioOscuro;
            color: $colorPrincipal;
        }
        @media screen and (min-width: $smallest)and (max-width: $small) {
            min-width: 250px;
            top:120px;
        }
        @media screen and (min-width: $small)and (max-width: $medium) {
            min-width: 60%;
            top: 100px;
            padding: 5px;
            font-size: 1.5rem;
            overflow: hidden;
        }
        @media screen and (min-width: $medium) and (max-width: $big) {
           width: 30%;
           top: 150px;
        } 
        &:hover{
            transition: all .5s;
            color: $colorPrincipalClaro;
        }
    }
    
}


//------------------------------------- I N V I T A C I O N ----------------------------------------------------//




.container_invitacion{
    scroll-snap-align: start;
    background: url(../images/Logistic/separador.png) no-repeat center 10px;
    background-size: cover;
    min-height: 120vh;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    overflow: hidden;
    
    .invitacion_text{
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 65%;
        position: relative;
        top: 150px;
        .invitacion_title{
            width: 900px;
            position: relative;
            top: -80px;
        }
        a{
            position: absolute;
            text-decoration: none;
            color: white;
            font-size: 2rem;
            border: 2px solid white;
            padding: 4px 8px;
            left: 100px;
            top: 320px;
            font-weight: bold;
            transition: all .2s;
            &:hover{
                border: 2px solid transparent;
                background-color: $colorSecundario;
            }
        }
        .invitacion_img{
            width: 400px;
        }
        
        
    }
        
    
}

//-------------------------- F O O T E R -----------------------------//@at-root
footer
{
    width: 100vw;
    height: 100px;
    position: relative;
    top: 0vh;
    background-color: $colorSecundarioOscuro;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    background: rgb(16,40,51);
    background: radial-gradient(circle, rgba(16,40,51,1) 26%, rgba(27,70,90,1) 98%);
    @media screen and (max-width: $big) {
        margin-top: 0px;
        bottom: 0px;
        min-height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(16,40,51);
        background: linear-gradient(to top, rgba(16,40,51,1) 26%, rgba(27,70,90,1) 98%);
    }
    
        
    .footer_content{
        width:70%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: $big) {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
       
        .logo_container{
            background-color: rgb(255, 254, 254);
            width: 100px;
            height: 100px;
            left: 50px;
            top: 0px;
            position: absolute;
            background-color: transparent;
            @media (max-width: $big) {
                margin: auto;
                width: 20%;
                left: 0px;
                top: 0px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        
            img{
                width: 90px;
                position: absolute;
                top: 30px;
                left: 0px;
                @media (max-width: $big) {
                    margin: auto;
                    width: 100px;
                    position: relative;
                }
              
            }
        }
        .redes_container
        {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            @media (max-width: $big) {
                width: 70%;
            }
        
            p{
                color: white;
                font-size: 1.3rem;
                letter-spacing: -1px;
                @media (max-width: $small) {
                   transform: translateY(30px);
                   font-size: 1.5rem;
                   
                }
                @media screen and (min-width: $medium) and (max-width: $big) {
                   font-size: 2rem;
                  }
            }
            ul
            {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
    
                li
                {
                    position: relative;
    
                    a
                    {
                        color: white;
                        
                        ion-icon{
                            font-size: 3rem;
                            @media (max-width: $small) {
                                font-size: 3.5rem;
                            }
                            @media screen and (min-width: $medium) and (max-width: $big) {
                                font-size: 4em;
                               }
                        }
                    }
                }
            }
        }
    }
    
}