
/*---- PRIMARY  FONT POPPINS -----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

/*---- SECONDARY FONT MONTSERRAT -----*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@900&display=swap');


/*------------------ UI COLOURS --------------------------*/   
 
  $colorPrincipal: #bce027;
  $colorPrincipalClaro:#d2f153;
  $colorPrincipalOscuro:#a4c425;
  $colorPrincipalTransparente: #abd1158f;
  $colorSecundarioClaro: rgb(27, 70, 90);
  $colorSecundario: rgb(16,40,51);  
  $colorSecundarioOscuro: rgb(7, 17, 22);
  $colorSecundarioTransparente:rgba(16, 40, 51, 0.827);

/*------------------MEDIA --------------------------*/ 

$smallest: 375px;
$small: 600px;
$medium: 900px;
$big:1200px;
$desktop:1824px;

/*----------------- FONTS -------------------------*/

$principal: 'Poppins', 'Sans Serif', 'Comic Sans';
$secundaria: 'Montserrat', 'Sans Serif', 'Comic Sans';

/*----------------- START STYLES -------------------------*/

*
{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body
{
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    font-family: $principal;
    overflow-x: hidden;
    @media screen and (min-width: $medium) and (max-width: $big) {
       display: block;
    }
}


.site_content{
    min-height: 150vh;
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}




//*------------------------ CONTAINER 1 ----------------------------//

.container_1{
    width: 100vw;
    left: 0px;
    min-height: 70vh;
    position: relative;
    top: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: $colorSecundarioClaro;
    
    @media screen and (max-width: $small) {
        min-height: 80vh;
    }
        
    
        
    

.logo_container
{
    width:25vw;
    height: 150px;
    position: absolute;
    margin: auto;
    top: 100px;
  
    
    @media screen and (max-width: $smallest)  {
        top: 10%;
        margin-top: 150px;
        width: 60vw;
    }
   
    
    @media screen and (min-width: $smallest)and (max-width: $small)  {
        width: 55%;
        top: 0px;
        margin-top: 50px;
    }
    
    
   
    img
    {
        position: absolute;   
        width: 100%;
        z-index: 999;
        margin: auto;
        object-fit: cover;        
    }       
}
    
.slider
{
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    overflow: hidden;
    left: 0px;
    position: relative;
    background: url(../images/Home/oranges.jpeg) no-repeat center center; 
    background-size: cover; 
    background-color: transparent;
    background-blend-mode: overlay;
    animation: sliderImagenes 10s infinite forwards;  


    @media (max-width: $small) {
        border-radius: initial;
        width: 100vw;
        margin-top: 0px;
        height: 80vh;
    }
     @keyframes sliderImagenes {
        0%{
            background: url(../images/Home/oranges.jpeg) no-repeat center center;
            background-size: cover;
        }       
        50%{
            background: url(../images/Home/sandias.jpeg) no-repeat center center;
            background-size: cover;
        }
        100%{
            background: url(../images/Home/limones.jpeg) no-repeat center center;
            background-size: cover;
        }
    }   
      

    .slides
    {
        width: 500%;
        height: 400px;
        display: flex;
        align-items: center;        
        z-index: 99999;
        position: relative;
        top: 40%;
        @media (max-width: $small) {
            width: calc(100vw*500%);
            top: 200px;
            position: relative;
        }

        

        input
        {
            display: none;        
        }

        .slide
        {
            width: 20%;
            transition: 1s;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            flex-direction: column;
           
            .slide_text
            {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                position: relative; 
                color: $colorSecundario;
                padding: 20px 10px;
                width:50%;
                min-height: 250px;
                border-radius: 1rem;                    
                box-shadow: inset 0px 0px 40px 3px rgba(255, 255, 255, 0.747);
                background-color: rgba(255, 255, 255, 0.589);
                overflow: hidden;
                top: 0px;  
                
                @media (max-width: $small) {
                    width: 90%;
                }
            

                    h1
                {
                    font-size: 4rem;
                    margin-left: 20px;
                    padding-top: 20px;
                    color: $colorSecundarioOscuro;
                    position: relative;
                    top: 0px;              
                    text-align: center;      
                    color: $colorSecundario;
                    letter-spacing: -.5px;
                    @media (max-width: $small) {
                        font-size: 3rem;
                        top: 0px;
                    }
                }
                
                
                
                p
                {
                    position: relative;
                    width: 80%;
                    top: 5px;
                    margin: 5px;
                    text-align: center;
                    font-size: 2.5rem;
                    font-family: $secundaria;
                    letter-spacing: -.5px;
                    @media (max-width: $small) {
                        width: 90%;
                        top: 0px;
                        font-size: 1.8rem;
                        color: rgb(53, 47, 47);
                        text-align: center;
                    }
                }

                a
                {
                    text-decoration: none; 
                    padding: 5px 10px;
                    min-width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--principal);
                    font-weight: bold;
                    position: relative;
                    font-size:1.5rem;
                    background-color: white;
                    position: relative;
                    min-height: 40px;
                    text-align: center;
                    z-index: 9999;
                    margin-bottom: 10px;                    
                    background-color: $colorPrincipal;
                    @media (max-width: $small) {
                        font-size: 1.7rem;
                        max-width: 150px;
                    }
                    &:hover
                    {
                        background-color: $colorSecundario;
                        color: white;
                        font-weight: bold;
                        border: none;                       
                    }
                }          
            }            
        }

        #radio1:checked ~ .first
        {
            margin-left: 0;
        }
        #radio2:checked ~ .first
        {
            margin-left: -20%;
        }
        #radio3:checked ~ .first
        {
            margin-left: -40%;
        }        
    }
}

.navigation-auto
{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    top:85%;
    @media (max-width: $small) {
        top: 76%;
    }
    div
    {
        border: 1px solid $colorPrincipal;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
       
        &:not(:last-child)
        {
            margin-right: 40px;
        }
    }
}


}


    

//*-------------------------------------------------- CONTAINER 2 ---------------------------------------------------//

.container_2
{  
    display: flex;    
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 50vh;    
    top: 50px;
    @media screen and (max-width: $small)  {
        min-height: 50vh;
        padding-bottom: 50px;
       }
       
      
.grid_section
{
    min-width: 100vw;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;  
    min-height: 30vh; 
    padding: 10px;    
    background-color: $colorSecundarioClaro;  
    
    @media screen and (max-width: $small)  {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 40vh;
     flex-direction: column;
    }
    
   
   
    .left_container
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;    
        margin: auto;
        flex-direction: column;
        padding: 10px;
        color: white;
        position: relative;          
        width: 100%;         
        min-height: 550px; 
        opacity: 0;
        transform: translateX(-50vw);

        @media screen and (max-width: $small)  {            
            min-height: initial; 
            padding: none;
            margin: auto;
            padding-top: 50px;
            left: 0px;
           }
        h1
        {
            text-align: center;
            font-family: $secundaria;
            
            @media screen and (max-width: $small)  {
                font-size: 3rem;
            }                      
            @media screen  and (min-width: $small) {                 
                font-size: 4rem;
            }                       
        }

        p
        {   font-size: 1.8rem;
            line-height: 25px;
            text-align: center;
            width: 70%;
            @media screen and (max-width: $small)  {               
                font-size: 1.5rem;
                padding: 10px; 
                width: 100%;
                margin-top: 20px;
            }           
            
            @media screen  and (min-width: $small) {                 
                   
                font-size: 1.3rem;    
            }            
            
            @media screen and (min-width: $medium) {                
                max-width: 600px; 
                font-size: 1.8rem;    
            }              
        }

        strong{
            font-size: 1.8rem;
        }
        
    }
    .right_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        position: relative;
        top: 0px;
        padding: 50px 20px;
        opacity: 0;
        transform: translateX(50vw);
        @media screen and (max-width: $small)  {               
            padding:initial;
            padding-top: 20px;
            padding-bottom: 20px;
        }
         
        
        img{
            color: white;
            width: 80px;
        }
        p{
            width: 80%;
            line-height: 25px;
            padding: 20px 10px;
            background-color: rgba(128, 128, 128, 0.39);
            font-size: 1.7rem;
            text-align: center;
            border-radius: 10px;
            
            strong{
                font-size: 2rem;
                color: $colorPrincipalOscuro;
            }

            @media screen  and (max-width: $small) {                 
                font-size: 1.5rem;
                width: 100%;
                margin-top: 20px;
            } 

        }
        a
        {
            font-size: 1.5rem;
            text-decoration: none;            
            background-color: white;
            color: $colorSecundario;
            font-weight: bold;
            text-align: center;
            position: relative;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 150px;
            margin-top: 20px;
            &:hover{
                background-color: $colorPrincipalOscuro;
                color: $colorSecundarioOscuro;
            }        
        }
    }
}

}


//*----------------------------------GRID BANNER -----------------------------------------------------*//

.banner_container{
    width: 100%;
    height: 70vh;
    background-color: $colorPrincipal;    
    display: flex;
    position: relative;
    left: 0px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 0px;
    padding-top: 20px;
    &::after{
        width: 200px;
        height: 200px;
        position: absolute;
        content: '';
        top: -200px;
        background-color: $colorSecundarioClaro;
        left: 63%;
        transform: rotate(45deg);
        @media screen and (max-width: $small)  {
            display: none;
        }
    }
    @media screen and (max-width: $small)  {
        margin-top: -50px; 
        padding-top: 0px;
        min-height: 80vh;
    }
    @media screen and (min-width: $desktop)  {
        min-height: 50vh;
        height: unset;
        top: -50px;
     } 
    
    
    
   
    
    
    
    .grid_banner{
        width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        position: relative;
        height: 95%;
        opacity: 0;
        transform: translateX(-50vw);
        @media (max-width: $small) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
            padding-bottom: 50px;
            height: inherit;
        }
        
        .grid_message{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            position: relative;
            @media (max-width: $small) {
                min-height: 30vh;        
            }
            h1{
                font-size: 6rem;
                color: $colorSecundarioClaro;
                @media (max-width: $small) {
                    font-size: 4rem;
                }
            }
            h3{
                font-size: 3rem;
                color: $colorSecundarioTransparente;
                
            }
        }
        .grid_img{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 90%;
            flex-direction: column;
            position: relative; 
            @media (max-width: $small) {
                top: 0px;
                height: 50%;             
            }
            @media screen and (min-width: $desktop)  {
                height: 90%;
             }
            img{
                max-width: 100px;
                @media (max-width: $small) {
                   display: none;
                }
            }
            p{
                font-size: 1.8rem;
                text-align: center;
                color: $colorSecundario;
                font-family: $secundaria;
                line-height: 30px;
                width: 70%;
                margin-top: 25px;
                @media (max-width: $small) {
                    width: 100%;
                 }
                @media (min-width: $big) {
                    margin-top: 50px;
                }
                strong{
                    font-size: 1.8rem;
                }
                @media (max-width: $small),
                        (max-width: $big)
                             {
                                     font-size: 2rem;
                                }
            }
            a{
                font-size: 1.5rem;
                padding: 5px;
                text-decoration: none;
                background-color: white;
                color: black;
                font-weight: bold;
                width: 150px;
                text-align: center;
                position: relative;
                border-radius: 2px;
                @media (max-width: $small) {
                    margin-bottom: 50px;
                 }
                &:hover{
                    background-color: $colorSecundario;
                    color: white;
                    transition: .2s;
                    border-radius: 0px;
                }
                @media (max-width: $small),
                (max-width: $big)
                   {
                    width: auto;
                    height: 30px;
                    font-size: 2rem;
                    top: 50px;
            }
            }
            img{
                width: 20%;
            }



            
        }   

        
    }
    
}
.fruit_out_container{
    width: 100%;
    min-height: 50vh;
    background-color: $colorSecundario;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    overflow: hidden;
    z-index: 0;
    

    @media (max-width: $small) { 
        display: block;
        padding: 20px;
        min-height: 100vh;     
     }
    @media (min-width: $desktop) { 
          position: relative;
          top: -100px;
    }
    .fruits_container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-bottom: 50px;
        opacity: 0;
        padding-top: 50px;
        @media (max-width: $small) {
            flex-direction: column;    
            width: 100%;      
            padding-top: 0px;   
            padding-bottom: 0px;
         }
        .fruit_img_box{
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 20px;
            width: 30%;
            @media (max-width: $small) {
                width: 100%; 
             }
            img{
                width: 100%;
                height: 100%;
                max-height: 70vh;
                object-fit: cover;                
                transition: all 3s;
                &:hover{
                    transform:scale(1.2) ;
                    filter: contrast(50%);
                    transition: all .9s;
                }
            }
        }
        .fruit_title{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10%;
            @media (max-width: $small) {
                flex-direction: column;  
                width: 100%; 
             }
            a{
                font-size: 3.5rem;
                text-align: center;
                padding: 10px 15px;
                text-decoration: none;
                font-weight: bold;
                min-width: 200px; 
                left: 200px;
                position: absolute;
                color: $colorSecundario;
                background-color: $colorPrincipalOscuro;
                cursor: pointer;
                @media (max-width: $small) {
                    position: relative;
                    top: -300px;
                    left: 50px;
                    margin: 50px auto;   
                    min-width: 150px;
                    font-size: 2.5rem;
                 }
                &:hover{
                    background-color: $colorSecundarioOscuro;
                    color: white;
                }
            }
        }
        .widget_container{
            cursor: pointer;
            overflow-x: hidden;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 90%;
            margin: 20px;
            background-color: $colorSecundarioClaro;
            position: relative;            
            max-height: 70vh;
            padding:30px;            
            opacity: 0;
            transform: translateX(50vw);
            &::-webkit-scrollbar{
                display: none
            }
            @media (max-width: $small) {
               display: block;
                max-height: 60vh;
                width: 100%;  
                min-height: 0vh;  
                top: -100px;
                margin: initial;
                background-color: $colorPrincipal;   
             }
            .widget_title{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin: 25px;
                background-color: white;
                padding: 10px 25px;
                cursor: initial;
                @media (max-width: $small) {
                    display: none;
                 }
                ion-icon{
                    font-size: 3rem;
                    padding-right: 20px;
                }
                h3{
                    font-size: 2rem;

                }
            }
            .embedsocial-hashtag{
                width: 100%;
                @media (max-width: $small) {
                 }
            }
        }
    }
}



.container_3
{
    width: 100%;
    min-height: 100vh;
    position: relative;
    left: 0px;
    display: flex;     
    justify-content: center;
    align-items: center;
    flex-direction:column;
    top: 0px;    
    background: url(../images/Home/logotipo.png) no-repeat center center;
    background-size: 60%;
    background-color: $colorSecundarioClaro;

    @media screen and (max-width: $small)  {
        margin-top: 0px;
        top: 0px;
        min-height: 60vh;
        padding-bottom: 100px;
    }
   
    
    @media screen  and (min-width: $small) {
        margin-top: 0px;
        padding-bottom: 50px;
        padding-top: 50px;
        
    }
    @media screen  and (min-width: $big) {
       min-height: 70vh;
       top: -100px;
    }
  
    
    
        
    
    .contact_title
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        transform: translateX(100vw);
        @media (max-width: $small) {
            width: 100%;
            margin: auto;
            top: 0px;
        }
        @media (min-width: $medium) and (max-width: $big)  {
            position: relative;
            top: 20px;
        }
        h1
        {
            top: -80px;
            text-align: center;
            margin: auto;
            font-size: 6rem;
            position: relative;
            letter-spacing: -.5px;
            color: white;
            font-family: $secundaria;
            
            @media (max-width: $small) {
                font-size: 3.5rem;
                top: 20px;
                letter-spacing: 0px;
                width: 100%;
                position: relative;
                margin: auto;
            }
            
           
        }

       

        
    }

    .form_container
    {
        width: 100%;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        
        @media (max-width: $small) {
            width: 85%;
            height: 100%;
            margin: auto;
            top: 80px;
            
        }
        @media (min-width: $medium) and (max-width: $big)  {
            width: 50vw;
            position: relative;
        }
        
        form
        {
            height: 100%;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            position: relative;
            opacity: 0;
            margin: auto;            
            @media (max-width: $small) {
                width: 100%;
            }
            @media (min-width: $medium) and (max-width: $big)  {
                top: -200px;
                width: 50vw;
                height: 50%;
                position: relative;
            }
            input
            {
                margin: 10px auto;
                width: 100%;
                height: 45px;
                border-radius: 1rem;
                border: none;
                outline: none;
                font-size: 1.3rem;
                color: black;  
                font-weight: bold;           
                font-family: poppins, 'sans serif';
                padding-left: 15px;
                background-color: rgba(182, 179, 179, 0.727);


                @media (min-width: $big) {
                    width: 80%;
                }
                @media 
                (max-width: $small),
                (min-width: $desktop)  {
                    background-color: rgba(182, 179, 179, 0.727);
                } 
                
                &:focus
                {
                    background-color: rgba(255, 255, 255, 0.689);
                    @media 
                    (max-width: $small),
                    (min-width: $desktop) {
                        background-color: rgba(182, 179, 179, 0.727);
                    }
                }

                &::placeholder
                {
                    padding-left: 10px;
                    font-size: 1.7rem;
                    color: white;
                    font-weight: 600;
                    font-family: Poppins;
                }
            }

            textarea
            {
                backdrop-filter: blur(15px);
                width: 100%;
                outline: none;
                border: none;
                border-radius: 1rem;
                font-size: 1.5rem;
                color: black;
                font-weight: bold;
                padding: 10px 15px;
                resize: none;
                font-family: poppins, 'sans serif';
                background-color: rgba(182, 179, 179, 0.727);
                @media (min-width: $big) {
                    width: 80%;
                }
                &:focus
                {
                    background-color: rgba(255, 255, 255, 0.689);
                    @media (max-width: $small),
                    (min-width: $desktop) {
                        background-color: rgba(182, 179, 179, 0.727);
                    }
                }

                &::placeholder
                {
                    padding-left: 10px;
                    font-size: 1.7rem;
                    color: white;
                    font-family: Poppins;
                    font-weight: 600;
                }
                @media (max-width: $small),
                (min-width: $desktop) {
                    background-color: rgba(182, 179, 179, 0.727);
                }
            }   

            button
            {   font-family: Poppins;
                width: 30%;
                outline: none;
                border: none;
                position: relative;
                top: 30px;
                height: 40px;
                cursor: pointer;
                background-color: rgba(182, 179, 179, 0.727);
                color: white;          
                font-size: 1.7rem;
                font-weight: bolder;
                @media (max-width: $small) {
                   top: 10px;
                   width: 50%;
                   height: 50px;
                   font-size: 2rem;
                   font-weight: bolder;
                   background-color: rgba(182, 179, 179, 0.727);
                }
                
                &:hover
                {   
                    background-color: $colorPrincipal;
                    color: $colorSecundarioOscuro;
                }
            }
        }
    }
}


footer
{
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: $colorSecundario;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(16,40,51);
    background: radial-gradient(circle, rgba(16,40,51,1) 26%, rgba(27,70,90,1) 98%);
    @media screen and (max-width: $small)  {
        min-height: 120vh;
        bottom: 0px;
        margin-bottom: 0px;
        position: relative;
        background: rgb(16,40,51);
        background: linear-gradient(to top, rgba(16,40,51,1) 26%, rgba(27,70,90,1) 98%);
    }
   
    
    @media screen  and (min-width: $small) {
        margin-top: -100px;
        bottom: 0px;
        top: initial;
    }
    
    
 
   
   
        
    .footer_content{
        width:100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $small) {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        @media (min-width: $medium) and (max-width: $big)  {
             width: 100%; 
        }
        .logo_container{
            width: 100px;
            height: 100%;
            margin-left: 10px;
            top: 0px;
            left: 0px;
            position: absolute;
            background-color: transparent;
            @media (max-width: $small) {
                margin: auto;
                width: 100vw;
                height: 50vh;
                left: 0px;
                top: 0px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            @media (min-width: $medium) and (max-width: $big)  {
                position: absolute;
                display: block;
                left: 0px;
                top: -20px;
                width: 100px;
           }
            img{
                width: 90px;
                position: absolute;
                top: 30px;
                left: 20px;
                @media (max-width: $small) {
                    margin: auto;
                    position: relative;
                    left: initial;
                    width: 200px;
                }
                @media (min-width: $medium) and (max-width: $big)  {
                    width: 100%;
                    position: relative;
                    transform: translateY(10px) translateX(20px);
               }
            }
        }
        .redes_container
        {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            @media (max-width: $small) {
                width: 70%;
            }
            @media (min-width: $medium) and (max-width: $big)  {
                width: 40%; 
           }
            p{
                color: white;
                font-size: 1.3rem;
                letter-spacing: -1px;
               
                @media (max-width: $small) {
                   transform: translateY(30px);
                   font-size: 1.5rem;
                   
                }
            }
            ul
            {
                width: 70%;
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
    
                li
                {
                    position: relative;
    
                    a
                    {
                        color: white;
                        ion-icon{
                            font-size: 3rem;
                            @media (max-width: $small) {
                                font-size: 3.5rem;
                            }
                            @media (min-width: $medium) and (max-width: $big)  {
                                font-size: 4rem;
                           }
                        }
                    }
                }
            }
            .work{
                position: absolute;
                right: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                flex-direction: row;
                margin: auto;
                text-decoration: none;
                @media (max-width: $small) {
                    right: unset;
                    
                }
                ion-icon{
                    font-size: 2rem;
                    color: white;
                    margin-right: 5px;
                }
                    span{
                        color: white;                        
                        font-size: 1.5rem;
                        display: flex;
                        padding: 5px;
                        justify-content: space-between;
                        align-items: center;
                        text-decoration: underline;   
                        ion-icon{
                            margin-left: 5px;
                        }

                        &:hover{
                            background-color: $colorSecundarioClaro;
                            
                        }
                    }
                
            }
        }
    }
    
}



